<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/WEBAPI</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>http://localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/WEBAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QLBConnectionstring" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PC-WINDOWS11\THIEN123;Initial Catalog=FOOD_MANAGEMENT;Persist Security Info=True;User ID=sa;Password=thienacpro123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBConnectionstring_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PC-WINDOWS11\THIEN123;Initial Catalog=FOOD_MANAGEMENT;&#xD;&#xA;			 Persist Security Info=True;User ID=sa;Password=thienacpro123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBConnectionstringBinh" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-JA5JF1D\SQLEXPRESS;Initial Catalog=FOOD_MANAGEMENT;User ID=sa;Password=123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBConnectionstringBinh_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-JA5JF1D\SQLEXPRESS;Initial Catalog=FOOD_MANAGEMENT;User ID=sa;Password=123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBConnectionstring-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBConnectionstringBinh-Web.config Connection String" />
  </ItemGroup>
</Project>